@import "tailwindcss";
@import "@fontsource/poppins";

:root {
  --background: #000000;
  --foreground: #1A1A1A;
  --gold: #FFD700;
  --secondary: #090909;
  --darkgold: #2A2310
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-gold: var(--gold);
  --color-darkgold: var(--darkgold);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
